<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= @book_title %>  is available for issue  !</h3>
<p>Book : <%= @book_title %> is now available at library for a pickup! </p>
<p>Thanks for joining and have a great day!</p>

<p>Regards,</p>
<p>Team LibSys</p>
</body>
</html>