<!DOCTYPE html>
<html>
<head>
  <title>Lib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<header class="header">
  <div class="container">
   <h1>TZN Library</h1>
  </div>
</header>
<body background="http://static.tumblr.com/bf4c92b6b9b217d3cf76e8ca51aefc00/xyrewae/rCRmvhg5w/tumblr_static_library-background4.jpg">
<div class="container">
  <%= yield %>
</div>
</body>
</html>
